{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "esmodules": true
      },
      "modules": false,
      "bugfixes": true,
      "loose": true
    }]
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime", {
      "regenerator": true,
      "corejs": 3
    }],
    ["@babel/plugin-proposal-decorators", {
      "decoratorsBeforeExport": true,
      "legacy": true
    }],
    ["@babel/plugin-proposal-class-properties", {
      "loose": true
    }],
    "@babel/plugin-transform-classes",
    "@babel/plugin-transform-async-to-generator"
  ]
}
