{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "esmodules": true
      },
      "modules": false,
      "useBuiltIns": "usage",
      "corejs": 3,
      "bugfixes": true
    }]
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime", {
      "regenerator": true,
      "corejs": 3,
      "helpers": true,
      "useESModules": true
    }],
    ["@babel/plugin-proposal-class-properties"],
    ["@babel/plugin-proposal-decorators", {
      "version": "2023-05"
    }],
    "@babel/plugin-proposal-class-static-block",
    "@babel/plugin-proposal-private-methods",
    "@babel/plugin-syntax-top-level-await"
  ]
}
